body {
padding: 0 6px;	
}

#tinymce {
font-family: "Open Sans","IranSans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
font-size: 0.9em;
}

a {
color: #9f9f9f;
text-decoration: none;
border-bottom: 1px dashed #ccc;
}

a:hover {
color: #3f3f3f;
text-decoration: none;
transition: color .2s ease-in;
}
